<a href="https://colab.research.google.com/github/tagsim/test/blob/main/Data_Cleaning_Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
#Mount Google Drive in order to access Drive files
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [35]:
#Import relevant libraries
import pandas as pd
import sqlite3

In [36]:
#Import CSV documents into Pandas dataframe.
cleanframe = pd.read_csv('/content/drive/MyDrive/Portfolio Project August 2023/Copy of Nashville Housing Data for Data Cleaning -new - Nashville Housing Data for Data Cleaning -new.csv')

In [37]:
#Check to ensure dataframes has been imported properly.
cleanframe

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",2013-04-09 00:00:00,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",2014-06-10 00:00:00,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.5,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE",2016-09-26 00:00:00,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",2.9,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE",2016-01-29 00:00:00,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",2.6,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE",2014-10-10 00:00:00,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",2.0,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56472,30469,188 10 0A 101.00,SINGLE FAMILY,"1435 WINDING CREEK DR, NOLENSVILLE",2015-05-27 00:00:00,157500,20150608-0053286,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56473,27707,188 10 0A 107.00,SINGLE FAMILY,"1423 WINDING CREEK DR, NOLENSVILLE",2015-03-02 00:00:00,145000,20150304-0019013,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56474,52709,188 10 0A 118.00,VACANT RESIDENTIAL LAND,"1804 GRACE POINT LN, NOLENSVILLE",2016-08-16 00:00:00,234611,20160819-0087214,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56475,54042,188 10 0A 121.00,VACANT RESIDENTIAL LAND,"1709 PARK TERRACE LN, NOLENSVILLE",2016-09-07 00:00:00,93844,20160919-0098411,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56476,54043,188 10 0A 122.00,VACANT RESIDENTIAL LAND,"1713 PARK TERRACE LN, NOLENSVILLE",2016-09-07 00:00:00,93844,20160919-0098411,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
#Creating database to allow for csv data to be connected and queried using SQLite
cnn = sqlite3.connect('simone_database.db')

In [39]:
cleanframe.to_sql('Nashvillehousing',cnn,if_exists= 'replace')

56477

In [40]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [41]:
%sql sqlite:///simone_database.db

In [42]:
#Standardizing of SaleDate - removing the empty hh:mm:ss in SaleDate Column
%%sql
SELECT SaleDate, (strftime('%Y-%m-%d', SaleDate))
FROM Nashvillehousing
LIMIT 2

 * sqlite:///simone_database.db
Done.

[('2013-04-09 00:00:00', '2013-04-09'), ('2014-06-10 00:00:00', '2014-06-10')]

In [43]:
#Standardizing of SaleDate - removing the empty hh:mm:ss in SaleDate Column
%%sql
SELECT SaleDate, (strftime('%Y-%m-%d', SaleDate)) AS NewSaleDate
FROM Nashvillehousing
LIMIT 2

 * sqlite:///simone_database.db
Done.

[('2013-04-09 00:00:00', '2013-04-09'), ('2014-06-10 00:00:00', '2014-06-10')]

In [44]:
%%sql
UPDATE Nashvillehousing
SET SaleDate = (strftime('%Y-%m-%d', SaleDate))

 * sqlite:///simone_database.db
56477 rows affected.

[]

In [45]:
#Populate property Address Data
%%sql
SELECT *
FROM Nashvillehousing
--Where PropertyAddress IS NULL
ORDER BY ParcelID

 * sqlite:///simone_database.db
Done.

In [46]:
#Self join to determinate duplicate Property addresses with etc.
%%sql
SELECT A1.PropertyAddress, A1.ParcelID, B2.PropertyAddress, B2.ParcelID
FROM Nashvillehousing A1
JOIN Nashvillehousing B2
WHERE A1.PropertyAddress IS NULL
limit 100

In [ ]:
%%sql
SELECT A1.PropertyAddress, A1.ParcelID, B2.PropertyAddress, B2.ParcelID
FROM Nashvillehousing as A1
JOIN Nashvillehousing as B2
ON A1.ParcelID = B2.ParcelID
AND A1.UniqueID <> B2.UniqueID
WHERE A1.PropertyAddress IS NULL

In [ ]:
%%sql
UPDATE Nashvillehousing AS A1
SET PropertyAddress = B2.PropertyAddress
FROM Nashvillehousing AS B2
WHERE A1.ParcelID = B2.ParcelID AND A1.UniqueID <> B2.UniqueID
  AND A1.PropertyAddress IS NULL AND B2.PropertyAddress IS NOT NULL;

In [ ]:
%%sql
SELECT PropertyAddress
FROM Nashvillehousing
WHERE PropertyAddress IS NULL

In [ ]:
#Addresses separated into individual columns by address, city, state
%%sql
SELECT SUBSTR(PropertyAddress, 1, INSTR(PropertyAddress, ',')-1) AS Address,
SUBSTR(PropertyAddress, INSTR(PropertyAddress, ',')+1, LENGTH(PropertyAddress)) AS Address
FROM Nashvillehousing;

In [ ]:
#Creating columns for newly separated address fields.
%%sql
ALTER TABLE Nashvillehousing
ADD PropertySplitAddress

In [ ]:
%%sql
UPDATE Nashvillehousing
SET PropertySplitAddress = SUBSTR(PropertyAddress, 1, INSTR(PropertyAddress, ',')-1)

In [ ]:
%%sql
ALTER TABLE Nashvillehousing
ADD PropertySplitCity
TYPE TEXT;

In [ ]:
%%sql
UPDATE Nashvillehousing
SET PropertySplitCity = SUBSTR(PropertyAddress, INSTR(PropertyAddress, ',')+1, LENGTH(PropertyAddress));

In [ ]:
%%sql
SELECT *
FROM Nashvillehousing
limit 5

In [ ]:
#Creating columns for Owner Address - alternative query
%%sql
SELECT SUBSTR(OwnerAddress, 1, INSTR(OwnerAddress, ',') -1) AS HouseAddress,
SUBSTR(OwnerAddress, INSTR(OwnerAddress, ',')+1, INSTR(SUBSTR(OwnerAddress, INSTR(OwnerAddress, ',')+1), ',')-1) AS StreetName,
SUBSTR(OwnerAddress, INSTR(SUBSTR(OwnerAddress, INSTR(OwnerAddress,',') +1),',')+ INSTR(OwnerAddress, ',')+1) AS Zipcode
FROM NashvilleHousing;

In [ ]:
%%sql
ALTER TABLE Nashvillehousing
ADD OwnerSplitAddress
TYPE TEXT;

In [ ]:
%%sql
UPDATE Nashvillehousing
SET OwnerSplitAddress= SUBSTR(OwnerAddress, 1, INSTR(OwnerAddress, ',') -1);

In [ ]:
%%sql
ALTER TABLE Nashvillehousing
ADD OwnerSplitCity
TYPE TEXT;

In [ ]:
%%sql
UPDATE Nashvillehousing
SET OwnerSplitCity  = SUBSTR(OwnerAddress, INSTR(OwnerAddress, ',')+1, INSTR(SUBSTR(OwnerAddress, INSTR(OwnerAddress, ',')+1), ',')-1);

In [ ]:
%%sql
ALTER TABLE Nashvillehousing
ADD OwnerSplitZipCode
TYPE TEXT;

In [ ]:
%%sql
SELECT *
FROM Nashvillehousing
LIMIT 5;

In [ ]:
#Changing  Y and No to 'Yes' and 'No' in 'Sold as Vacant' field.- Distinct count.
%%sql
SELECT DISTINCT(SoldAsVacant), COUNT(SoldAsVacant)
FROM Nashvillehousing
GROUP BY SoldAsVacant
ORDER BY 1;

In [ ]:
%%sql
SELECT SoldAsVacant,
CASE WHEN SoldAsVacant = 'Y' THEN 'Yes'
  WHEN SoldAsVacant = 'N' THEN 'No'
  ELSE SoldAsVacant
  END
FROM Nashvillehousing;

In [ ]:
%%sql
UPDATE Nashvillehousing
SET SoldAsVacant =
CASE WHEN SoldAsVacant = 'Y' THEN 'Yes'
  WHEN SoldAsVacant = 'N' THEN 'No'
  ELSE SoldAsVacant
  END;

In [107]:
#Remove your duplicates- Not standard practice to delete data, (Standard practice - create temp table).
%%sql
WITH RowNumCTE AS(
SELECT *,
ROW_NUMBER() OVER(
  PARTITION BY ParcelID,
               PropertyAddress,
               SalePrice,
               SaleDate,
               LegalReference
               ORDER BY
               UniqueID
) AS RowNu
FROM Nashvillehousing
--ORDER BY ParcelID
)

SELECT count(*)
FROM RowNumCTE
WHERE RowNu > 1
--ORDER BY PropertyAddress;

 * sqlite:///simone_database.db
Done.

[(0,)]

In [110]:
#Remove your duplicates- Not standard practice to delete data, (Standard practice - create temp table).
%%sql
DELETE FROM NashvilleHousing
WHERE UniqueID IN (
  SELECT UniqueID
  FROM (
    SELECT *,
      ROW_NUMBER() OVER (
        PARTITION BY ParcelID,
          PropertyAddress,
          SalePrice,
          SaleDate,
          LegalReference
        ORDER BY
          UniqueID
      ) AS RowNum
    FROM NashvilleHousing
    -- ORDER BY ParcelID
  ) AS RowNumCTE
  WHERE RowNum > 1
);

 * sqlite:///simone_database.db
0 rows affected.

[]

In [116]:
#Delete unecessary columns, only for practice (Standard Practice - deletion from views, not Raw Data set).
%%sql

ALTER TABLE NashvilleHousing
DROP COLUMN OwnerAddress;

ALTER TABLE NashvilleHousing
DROP COLUMN TaxDistrict;

ALTER TABLE NashvilleHousing
DROP COLUMN PropertyAddress;

 * sqlite:///simone_database.db
Done.
Done.
Done.

[]

In [119]:
#Check to ensure selected rows have been deleted.
%%sql
SELECT *
FROM NashvilleHousing
limit 5

 * sqlite:///simone_database.db
Done.

[(0, 2045, '007 00 0 125.00', 'SINGLE FAMILY', '2013-04-09', '240000', '20130412-0036474', 'No', 'FRAZIER, CYRENTHA LYNETTE', 2.3, 50000.0, 168200.0, 235700.0, 1986.0, 3.0, 3.0, 0.0, '1808  FOX CHASE DR', ' GOODLETTSVILLE', '1808  FOX CHASE DR', ' GOODLETTSVILLE', None),
 (1, 16918, '007 00 0 130.00', 'SINGLE FAMILY', '2014-06-10', '366000', '20140619-0053768', 'No', 'BONER, CHARLES & LESLIE', 3.5, 50000.0, 264100.0, 319000.0, 1998.0, 3.0, 3.0, 2.0, '1832  FOX CHASE DR', ' GOODLETTSVILLE', '1832  FOX CHASE DR', ' GOODLETTSVILLE', None),
 (2, 54582, '007 00 0 138.00', 'SINGLE FAMILY', '2016-09-26', '435000', '20160927-0101718', 'No', 'WILSON, JAMES E. & JOANNE', 2.9, 50000.0, 216200.0, 298000.0, 1987.0, 4.0, 3.0, 0.0, '1864 FOX CHASE  DR', ' GOODLETTSVILLE', '1864  FOX CHASE DR', ' GOODLETTSVILLE', None),
 (3, 43070, '007 00 0 143.00', 'SINGLE FAMILY', '2016-01-29', '255000', '20160129-0008913', 'No', 'BAKER, JAY K. & SUSAN E.', 2.6, 50000.0, 147300.0, 197300.0, 1985.0, 3.0, 3.0, 0.0, '1853  FOX CHASE DR', ' GOODLETTSVILLE', '1853  FOX CHASE DR', ' GOODLETTSVILLE', None),
 (4, 22714, '007 00 0 149.00', 'SINGLE FAMILY', '2014-10-10', '278000', '20141015-0095255', 'No', 'POST, CHRISTOPHER M. & SAMANTHA C.', 2.0, 50000.0, 152300.0, 202300.0, 1984.0, 4.0, 3.0, 0.0, '1829  FOX CHASE DR', ' GOODLETTSVILLE', '1829  FOX CHASE DR', ' GOODLETTSVILLE', None)]